

/* Container for all the videos card */
.preview-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 30px;
  column-gap: 30px;
  width:100%;
  margin-top:30px;
}

/* Video preview container including thumbnail and info */
.video-element {
}

.thumbnail {
  width: 100%;
}

/* Video preview bottom row */
.video-info-grid{
  display:grid;
  grid-template-columns: 50px 1fr;
  height:100px;
}

/* Author picture container */
.channel-picture {
}

/* Video info container */
.video-description {
  margin-left: 15px;
}

.video-title {
  margin-top: 5px;
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  margin-bottom: 7px;
}
.author-name, .video-stat{
  font-size:14px;
  color:rgb(96,96,96);
  margin: 0px 0px 6px 0px;
}

.author-photo {
  width: 100%;
}
